@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: 0, 0, 0, 0;
}

html,
body,
section,
div,
header,
footer,
main,
aside,
nav,
blockquote,
p,
span {
  margin: 0;
  padding: 0;
}

img,
svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.container-fluid {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target="_blank"]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 0.3em;
  margin-top: -0.9em;
}

.btn-dark,
.btn-primary,
.btn-secondary,
.btn-accent,
.btn-gray,
.btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-accent:hover,
.btn-gray:hover,
.btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

p {
  font-size: 1em;
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}
footer {
  background-color: black;
  padding-top: 10px;
}

.topnav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.topnav .addressinfo {
 font-size: 13px;
}

.topnav .social-icons {
  display: flex;
  gap: 0;
}

.topnav .social-icons a {
  color: #fff;
  border-left: 1px solid #7c7a7a74;
  border-right: 1px solid #9a9999;
  padding: 0 8px;
}

.topnav .social-icons a:first-child {
  border-left: none;
}

.topnav .social-icons a:last-child {
  border-right: none;
}

.topnav .social-icons a:hover i {
  color: #c0ac94;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.onatrix-logo {
  display: inline-block;
}

.navbar .container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.phone-list {
  display: none; 
}

.list {
  gap: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-right: 100px;
}

.nav-link {
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

.search {
  display: inline-block;

}

.search i {
  font-size: 18px;
  cursor: pointer;
}


/* Hero section */
#hero-section {
  position: relative;
  height: 60vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  overflow: hidden;
  z-index: 1; 
}

#hero-section .hero-bg img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
}

#hero-section .content {
  position: relative;
  z-index: 2; 
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding-left: 3rem; 
}

#hero-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

#hero-section .text {
  transform: translateY(-100px); 
  transform: translateX(-40px);
  position: relative;
  z-index: 2; 
}

#hero-section .text h1 {
  margin-bottom: 15px;
  max-width: 550px; 
  word-wrap: break-word;
}

#hero-section .text p {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 570px; 
  word-wrap: break-word;
}

/* About section */
#about-section {
  position: relative;
  height: 60vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  overflow: visible; 
  background-color: #f7f7f7;
  z-index: 2; 
}

/* Container for the About section */
#about-section .container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* About text */
#about-section .about-text {
  transform: translateY(-200px); 
  transform: translateX(-40px); 
  right: 180px;
  position: relative;
  z-index: 2; 
}

#about-section .about-text h1 {
  font-size: 40px;
  max-width: 768px;
}

#about-section .about-text p {
  font-weight: 300;
  word-wrap: break-word;
  width: 43vw;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 768px;
}

#about-section .about-text blockquote {
  font-size: 20px;
  word-wrap: break-word;
  width: 35vw;
  font-style: italic;
  font-weight: 200;
  max-width: 768px;
}

/* Signature styling */
.signature {
  align-items: center;
  margin-top: 10px;
}

.signature img {
  margin-right: 15px;
}

.nametag-container .nametag-title {
  font-weight: bold;
}

.service-header {
  text-align: center;
  margin-bottom: 40px;
}


.service-info h2 {
  font-size: 2rem;
  font-weight: 700;

 
}
.callback-box {
  position: absolute;
  top: -90px;
  left: 1000px; 
  z-index: 3;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form layout */
.callback-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.callback-form input, .callback-form select, .callback-form button {
  padding: 15px;
  border: 1px solid #ccc;
  width: 90%;
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 20px;
}

.callback-form button {
  cursor: pointer;
}

.callback-form p {
  margin-left: 30px;
}


.blackbox {
  padding: 35px 20px;
  font-size: 30px;
}



/* For 4K large screens (above 2560px) */
@media (min-width: 2560px) {
  .callback-box {
    left: 65vw; 
  }
}

/* For large desktops (1600px to 2560px) */
@media (max-width: 2560px) and (min-width: 1600px) {
  .callback-box {
    left: 65vw; 
    top: -80px;
  }
}

/* For tablets and smaller desktops (768px to 1200px) */
@media (max-width: 1200px) and (min-width: 768px) {
  .callback-box {
    left: calc(100% - 400px); 
    top: -120px; 
  }

  .callback-form input, .callback-form select, .callback-form button {
    width: 85%; 
    margin-left: 10px;
  }
}

/* For small screens (up to 768px) */
@media (max-width: 768px) {
  .callback-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px;
    box-shadow: none; 
  }

  .callback-form input, .callback-form select, .callback-form button {
    width: 100%;
    margin-left: 0;
  }

  .callback-form p {
    margin-left: 0;
  }
}

/* Services */
#services-section {
  padding-bottom: 100px;

}
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  padding: 0 20px;
  justify-items: center; 
}
.service-item {
  width: 370px;
  height: 440px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer; 
}

.services-grid > div {
  border: 1px solid fff;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.services-grid img {
  margin-top: 30px;
}

.services-grid h4 {
  font-size: 1.25rem;

  margin-top: 35px;
}

.services-grid p {
  font-size: 14px;
  color: #666;
  padding-top: 20px;
}

/* Hover effect */
.services-grid > div:hover {
  transform: translateY(-10px);
}


/* PARTNER/FOOTER */
#partners-section {
  padding: 20px 0;
}

.partners-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 100px; 
}

.partner-logo {
  width: 150px; 
}

.partner-logo img {
  width: 100%;
  height: auto;
}

/* story section  */
#story-section {
  margin-top: 100px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //min-height: 80vh; 
}

#story-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

#story-section .story-content {
  text-align: center; 
  width: 100%;
}

#story-section .story-header {
  margin-bottom: 20px; 
}

#story-section .story-header h2 {
  text-align: center; 
  font-size: 2.5em;
  margin: 0;
}

#story-section .story-paragraph {
  text-align: center; 
  margin: 20px 0;
  font-size: 2.5em;
}

#story-section .story-footer {
  margin-top: 20px;
}

#story-section .story-footer a {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 100px;
}

#story-section .story-image {
  margin-top: auto; 
  width: 100%;
  text-align: center; 
}

#story-section .story-image img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-end;
}

.success-info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 40px; 
    text-align: center; 
    margin-top: 50px;
}

.stats {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    max-width: 1200px; 
    gap: 20px; 
}

.stat-item {
    flex: 1; 
    padding: 10px;
}


.stat-center {
    text-align: center; 
}


.success-image {
    position: absolute; 
    bottom: -200px;
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: center; 
}

.success-image img {
    max-width: 970px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.recent-projects .container {
    padding-top: 300px;
    max-width: 1920px; 
    padding-left: 30px;
    padding-right: 30px;
}
.projects-header {
  margin-left: 12em;
}

.projects-grid {
    display: flex;

}

.project-item {
    position: relative;
    width: 24%; 
    overflow: hidden;
}

.project-image {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(79, 89, 85, 0.5);
    color: white;
    padding: 20px;
    text-align: left;
}

.project-details h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.project-description {
    font-size: 14px;
    margin-top: 5px;
}

.project-item:hover .project-details {
    background: rgba(79, 89, 85, 1);
}

.project-item:hover .project-image {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* ABOUT US PAGE */

/* HEADER */ 
.Aboutpage-header {
   
    padding: 40px 0; /* Space around the header */
    text-align: center; /* Center-align the content */
}

.Aboutpage-header .container {
    max-width: 1200px; /* Restrict width */
    margin: 0 auto; /* Center container */
}

.Aboutpage-title {
    font-size: 2.5rem; /* Large title font */
    margin-bottom: 20px; /* Space below the title */
    color: #333; /* Dark text color */
}

.breadcrumb {
    font-size: 1rem; /* Regular font size */
    color: #555; /* Slightly lighter than title */
}

.breadcrumb a {
  color: #4F5955;
    text-decoration: none; /* Remove underline */
}

.breadcrumb a:hover {
    text-decoration: underline; /* Underline on hover */
}

.breadcrumb-current {
    color: #D9C3A9; /* Dark color for current page */
}

.Aboutpage-section {
    padding: 50px 0;
}

.Aboutpage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
}

.Aboutpage-image {
    flex: 1;
    max-width: 40%;
}

.Aboutpage-image img {
    width: 100%;
    height: 600px;
    object-fit: cover; 
    margin-bottom: 20px;
}

.Aboutpage-text {
    flex: 2;
    padding-left: 80px;
}

.Aboutpage-text blockquote {
    font-size: 1.5em;
    font-style: italic; 
    color: #535656;
    margin: 20px 0;

}

.Aboutpage-text .about-description {
    margin-top: 30px;
    padding-top: 10px;

}

.trusted-section {
    background-color: #f9f9f9;
}

.trusted-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.trusted-text {
    width: 50%;
    padding-right: 20px;
}

.trusted-subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: #c5a276;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.trusted-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.2;
     max-width: 350px;
}

.trusted-description {
    font-size: 20px;
    font-style: italic;
    color: #999999;
    line-height: 1.6;
    margin-bottom: 30px;
   
}

.trusted-review {
    font-size: 1rem;
    color: #333;
}

.trusted-review strong {
    font-weight: 600;
}

.trusted-review span {
    color: #ffcc00;
    font-size: 1.5rem;
}

.trusted-image {
    width: 50%;
    padding-left: 20px;
    text-align: center;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .trusted-content {
        flex-direction: column;
        text-align: center;
    }

    .trusted-text, .trusted-image {
        width: 100%;
        padding: 0;
    }

    .trusted-image {
        margin-top: 20px;
    }
}

.team-section {
    padding: 60px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h3 {
    font-size: 1.5rem;
    color: #c5a276;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

/* Team Section */
.team-section {
    padding: 60px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h3 {
    font-size: 1.5rem;
    color: #c5a276;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

/* Team Section */
.team-section {
    padding: 60px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h3 {
    font-size: 1.5rem;
    color: #c5a276;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

/* Team Section */
.section-header h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.section-header h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}


.team-grid-large {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
}


.team-grid-small {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px;
}

.team-member {
    text-align: center;
    border: 1px solid #EAEAEA;
    margin: 20px;
    transition: all 0.3s ease; 

    position: relative;
    overflow: hidden;
}
.team-member:hover {
    background-color: #f9f9f9;
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.team-member img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto;
}

.team-grid-large .team-member img {
    max-width: 350px; 
}

.team-grid-small .team-member img {
    max-width: 250px; 
}


.team-member h4 {
    font-size: 20px;
    margin-top: 10px;
}

.team-member p {
    font-size: 14px;
    color: #777;

}
/* FOOTER CONTACT BLOCK */

.footer-contact-block {
    background-color: #f7f7f7; 
    padding: 40px; 
    border-radius: 8px; 
    position: relative; 
    overflow: hidden; 
}


.footer-contact-block-inner {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    position: relative; 
    z-index: 1; 
}


.footer-background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
    width: 100%;
    height: auto;
    object-fit: cover; 
}


.footer-man-image img {
    max-width: 680px;
    height: 485px;
    z-index: 2; 
    position: relative; 
    top: 50px;
}


.footer-contact-info {
    z-index: 1; 
    color: #333; 
    max-width: 600px; 
    margin-left: 300px; 
    margin-top: 100px;
}


.footer-contact-info h2 {
    margin-bottom: 20px;

}


.footer-contact-info .contact-row {
    justify-content: flex-start;
    margin-bottom: 15px; 
    align-items: baseline; 
}


.footer-contact-info .contact-label {
    align-items: center;
    flex-basis: 150px; 
    margin-right: 10px; 
}


.footer-contact-info .contact-info {
    flex-grow: 1; 
    color: #535656;
    margin-left: 30px;
}


.footer-contact-info i {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #d9c3a9; 
}

.footer-contact-info strong {
    font-size: 1rem;
    color: #4F5955;
}



