<?xml version="1.0" encoding="utf-8"?>
<Content Key="1edc1bf6-ce6a-441d-ada7-834f9ef297c6" Alias="Contact Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2024-10-04T15:55:08</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="74145680-0a83-447d-86be-6afc0d46cf54">contactUs</Template>
  </Info>
  <Properties>
    <formDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </formDescription>
    <formSubtitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </formSubtitle>
    <formTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </formTitle>
    <mapImage>
      <Value><![CDATA[[
  {
    "key": "4f469bfa-306c-40e8-a3ad-1cb3187fffbb",
    "mediaKey": "3c782ff8-1af8-4c2a-a64f-bb76d8a2c055",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mapImage>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <partnerLogo1>
      <Value><![CDATA[[
  {
    "key": "8fc96ebd-5a9c-4f6b-b503-f9444565d6f3",
    "mediaKey": "29fa9a74-993a-42ad-bd2c-1ae9e82a02d6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo1>
    <partnerLogo2>
      <Value><![CDATA[[
  {
    "key": "cb4a41e9-83e1-4597-971b-c20a84f0604f",
    "mediaKey": "8dfb24ef-136a-407a-a335-6daf54bdfd04",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo2>
    <partnerLogo3>
      <Value><![CDATA[[
  {
    "key": "38b5abda-03a6-4e0f-893b-9617c82797ad",
    "mediaKey": "01279aa8-69cd-4b98-9a48-7bb8af95c59c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo3>
    <partnerLogo4>
      <Value><![CDATA[[
  {
    "key": "3ea7231b-a337-44d1-ba2c-e6c74d66190b",
    "mediaKey": "856283e7-524d-4215-a51b-6d7e3bac8a4b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo4>
    <partnerLogo5>
      <Value><![CDATA[[
  {
    "key": "b60af69e-6220-4fd5-be4f-384ef10dcc47",
    "mediaKey": "b2e8dc11-3827-481e-9926-6216a6efdfdc",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo5>
    <partnerLogo6>
      <Value><![CDATA[[
  {
    "key": "fcd5d1c8-b3fb-4b51-98e9-524dd0bb0d85",
    "mediaKey": "fe93700b-9ac6-47d6-8433-98352b81bf78",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo6>
  </Properties>
</Content>