<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bd99426-8ee1-41ef-9385-adb6891c8ede" Alias="FooterContactBlock" Level="2">
  <Info>
    <Parent Key="1edc1bf6-ce6a-441d-ada7-834f9ef297c6">Contact Us</Parent>
    <Path>/ContactUs/FooterContactBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>footerContactBlock</ContentType>
    <CreateDate>2024-10-04T16:14:19</CreateDate>
    <NodeName Default="FooterContactBlock" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "7e77d1ad-6bf3-48dd-ba3b-746f6332d0a8",
    "mediaKey": "88523daf-b433-4b7e-9ba8-9c74aac3ef74",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerBackgroundImage>
    <footerEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </footerEmail>
    <footerEmailTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </footerEmailTitle>
    <footerManImage>
      <Value><![CDATA[[
  {
    "key": "2e39ed48-f614-4af0-bed7-3ce5d6815b06",
    "mediaKey": "de80daa0-54fd-4ea8-8784-ad72bd484095",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerManImage>
    <footerOffice>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </footerOffice>
    <footerOfficeTitle>
      <Value><![CDATA[Office location]]></Value>
    </footerOfficeTitle>
    <footerPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </footerPhone>
    <footerPhoneTitle>
      <Value><![CDATA[Phone number]]></Value>
    </footerPhoneTitle>
    <footerTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </footerTitle>
  </Properties>
</Content>