<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5dcbb39-6197-4896-871d-d53e64d3dca5" Alias="FooterContactBlock" Level="3">
  <Info>
    <Parent Key="1a2c4ee7-973a-49bb-b980-0057a24a059f">Services</Parent>
    <Path>/Home/Services/FooterContactBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>footerContactBlock</ContentType>
    <CreateDate>2024-10-03T16:21:44</CreateDate>
    <NodeName Default="FooterContactBlock" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e66239b6-bccc-49f4-b29e-2c07f3d54b38",
    "mediaKey": "88523daf-b433-4b7e-9ba8-9c74aac3ef74",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerBackgroundImage>
    <footerEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </footerEmail>
    <footerEmailTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </footerEmailTitle>
    <footerManImage>
      <Value><![CDATA[[
  {
    "key": "26e90601-e489-4fb4-ba45-f026e54af466",
    "mediaKey": "de80daa0-54fd-4ea8-8784-ad72bd484095",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerManImage>
    <footerOffice>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </footerOffice>
    <footerOfficeTitle>
      <Value><![CDATA[Office location]]></Value>
    </footerOfficeTitle>
    <footerPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </footerPhone>
    <footerPhoneTitle>
      <Value><![CDATA[Phone number]]></Value>
    </footerPhoneTitle>
    <footerTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </footerTitle>
  </Properties>
</Content>