<?xml version="1.0" encoding="utf-8"?>
<Content Key="f055757f-4bd1-41c8-823f-111c6b92f992" Alias="FooterContactBlock" Level="2">
  <Info>
    <Parent Key="c1629ba8-6e03-4785-a9a1-bac8a5ad7f7c">Risk Management</Parent>
    <Path>/RiskManagement/FooterContactBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>footerContactBlock</ContentType>
    <CreateDate>2024-10-03T19:48:13</CreateDate>
    <NodeName Default="FooterContactBlock" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "b74076a4-714f-45ef-93f5-1d414103833a",
    "mediaKey": "88523daf-b433-4b7e-9ba8-9c74aac3ef74",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerBackgroundImage>
    <footerEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </footerEmail>
    <footerEmailTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </footerEmailTitle>
    <footerManImage>
      <Value><![CDATA[[
  {
    "key": "78146555-18dd-4897-b974-5672bdf353e6",
    "mediaKey": "de80daa0-54fd-4ea8-8784-ad72bd484095",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerManImage>
    <footerOffice>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </footerOffice>
    <footerOfficeTitle>
      <Value><![CDATA[Office location]]></Value>
    </footerOfficeTitle>
    <footerPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </footerPhone>
    <footerPhoneTitle>
      <Value><![CDATA[Phone number]]></Value>
    </footerPhoneTitle>
    <footerTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </footerTitle>
  </Properties>
</Content>