<?xml version="1.0" encoding="utf-8"?>
<Content Key="30acb6e0-dff5-4abd-9878-d8983bb79013" Alias="FooterContactBlock" Level="2">
  <Info>
    <Parent Key="055facce-047d-478e-9cd6-4aa431a9a47f">JuvaDetail</Parent>
    <Path>/JuvaDetail/FooterContactBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>footerContactBlock</ContentType>
    <CreateDate>2024-10-04T15:07:28</CreateDate>
    <NodeName Default="FooterContactBlock" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "ef5e776d-f835-4dc0-a4cf-dd827b82d14a",
    "mediaKey": "88523daf-b433-4b7e-9ba8-9c74aac3ef74",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerBackgroundImage>
    <footerEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </footerEmail>
    <footerEmailTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </footerEmailTitle>
    <footerManImage>
      <Value><![CDATA[[
  {
    "key": "6f350b8f-77d7-43e3-93ac-18116a8db194",
    "mediaKey": "de80daa0-54fd-4ea8-8784-ad72bd484095",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerManImage>
    <footerOffice>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </footerOffice>
    <footerOfficeTitle>
      <Value><![CDATA[Office location]]></Value>
    </footerOfficeTitle>
    <footerPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </footerPhone>
    <footerPhoneTitle>
      <Value><![CDATA[Phone number]]></Value>
    </footerPhoneTitle>
    <footerTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </footerTitle>
  </Properties>
</Content>