<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab477b22-c844-4f80-9907-bb52cf280eaf" Alias="FooterContactBlock" Level="2">
  <Info>
    <Parent Key="6458cfe3-704f-4d6a-9d7f-be157d586fef">Our projects</Parent>
    <Path>/OurProjects/FooterContactBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>footerContactBlock</ContentType>
    <CreateDate>2024-10-04T13:22:07</CreateDate>
    <NodeName Default="FooterContactBlock" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "5879a48c-9373-4261-9382-d316b75ae38a",
    "mediaKey": "88523daf-b433-4b7e-9ba8-9c74aac3ef74",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerBackgroundImage>
    <footerEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </footerEmail>
    <footerEmailTitle>
      <Value><![CDATA[E-mail address]]></Value>
    </footerEmailTitle>
    <footerManImage>
      <Value><![CDATA[[
  {
    "key": "f02b9f4e-5307-4f84-9b7e-6b020b061f3d",
    "mediaKey": "de80daa0-54fd-4ea8-8784-ad72bd484095",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerManImage>
    <footerOffice>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </footerOffice>
    <footerOfficeTitle>
      <Value><![CDATA[Office location]]></Value>
    </footerOfficeTitle>
    <footerPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </footerPhone>
    <footerPhoneTitle>
      <Value><![CDATA[Phone number]]></Value>
    </footerPhoneTitle>
    <footerTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </footerTitle>
  </Properties>
</Content>