<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d4f599d-1377-439f-a644-ea3f43b68ca3" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-17T14:41:36</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35a36451-c2aa-43a3-8f90-d83c115d9bbf">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA["We have over 25 years of experience providing expert financial advice to both businesses and individuals."]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[About us]]></Value>
    </aboutSectionTitle>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "ca2dd4e0-6b8a-476e-943c-d4141293f032",
    "mediaKey": "42a38310-6a79-4634-a8c6-f3c757d269dc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutSignatureText>
      <Value><![CDATA[Tina Fox CEO & Founder]]></Value>
    </aboutSignatureText>
    <aboutText>
      <Value><![CDATA[   Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <dotmapImage>
      <Value><![CDATA[[
  {
    "key": "30b318e7-9ef7-4c4d-a18c-8a2ca3638e99",
    "mediaKey": "5b8e637d-8f68-47ed-a746-2c70aed082fc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </dotmapImage>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "03ceedf8-02a8-482f-85c1-a03eebed5da3",
    "mediaKey": "ef68ebd5-0cae-443f-896b-64b3842ed6f1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact Us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact-us]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Onatrix ]]></Value>
    </pageTitle>
    <partnerLogo1>
      <Value><![CDATA[[
  {
    "key": "8083abc2-f9d0-48c1-8f40-68df5f615115",
    "mediaKey": "29fa9a74-993a-42ad-bd2c-1ae9e82a02d6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo1>
    <partnerLogo2>
      <Value><![CDATA[[
  {
    "key": "cdf2abf6-bc94-495b-ac7a-9f77f3601acd",
    "mediaKey": "8dfb24ef-136a-407a-a335-6daf54bdfd04",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo2>
    <partnerLogo3>
      <Value><![CDATA[[
  {
    "key": "2c1082a0-5042-4cc6-aef6-7c3b39c3ddf3",
    "mediaKey": "01279aa8-69cd-4b98-9a48-7bb8af95c59c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo3>
    <partnerLogo4>
      <Value><![CDATA[[
  {
    "key": "bd8e3260-2fb5-4c52-9008-999101f2d62a",
    "mediaKey": "856283e7-524d-4215-a51b-6d7e3bac8a4b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo4>
    <partnerLogo5>
      <Value><![CDATA[[
  {
    "key": "50fbc8f5-20af-4dd9-a0a3-3c8a2da188f8",
    "mediaKey": "b2e8dc11-3827-481e-9926-6216a6efdfdc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo5>
    <partnerLogo6>
      <Value><![CDATA[[
  {
    "key": "6a897228-6d68-4b9a-b168-2dd3024ef315",
    "mediaKey": "fe93700b-9ac6-47d6-8433-98352b81bf78",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerLogo6>
    <projectHeadline>
      <Value><![CDATA[Recent Projects]]></Value>
    </projectHeadline>
    <projectlist>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0",
      "udi": "umb://element/3c53e4562164494b8da7f978969b6750",
      "projectTitle": "Annual Report for Juva Inc.",
      "projectDescription": "Financial Services",
      "projectImage": "[{\u0022key\u0022:\u0022a09abecd-89de-46de-9894-1e6d9c9719ec\u0022,\u0022mediaKey\u0022:\u0022b8d84853-db15-4714-af1b-335ac6cb8cbf\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0",
      "udi": "umb://element/901862dd54e2431bb90bc5a4aa85af3c",
      "projectTitle": "Business Insights for SP Group Inc.",
      "projectDescription": "Financial Services",
      "projectImage": "[{\u0022key\u0022:\u0022dfa53e08-4dd4-41c4-96dd-92c43e5d354d\u0022,\u0022mediaKey\u0022:\u002205dbe7e1-1d2e-41cc-893c-95cf20099839\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0",
      "udi": "umb://element/91e0c7453b694684be924cbbce63e6f0",
      "projectTitle": "Financial Advisors to Irra Corp Inc.",
      "projectDescription": "Financial Services",
      "projectImage": "[{\u0022key\u0022:\u002233417445-80e9-4e6c-977b-039eb0a50d5d\u0022,\u0022mediaKey\u0022:\u0022fdd7c8d6-46af-4de8-bebb-f5cb3d680a67\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0",
      "udi": "umb://element/8fbd17537cb1410484cd73a32fd24b35",
      "projectTitle": "Budget Planning for Buccura Inc.",
      "projectDescription": "Financial Services",
      "projectImage": "[{\u0022key\u0022:\u00223fa3ddfb-41f2-48dd-89f3-3a80a188295a\u0022,\u0022mediaKey\u0022:\u00227c301c44-537a-43c6-afd8-8d5cf6e8ee9e\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3c53e4562164494b8da7f978969b6750",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/901862dd54e2431bb90bc5a4aa85af3c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/91e0c7453b694684be924cbbce63e6f0",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8fbd17537cb1410484cd73a32fd24b35",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectlist>
    <projectSubheadline>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectSubheadline>
    <service1Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service1Description>
    <service1Image>
      <Value><![CDATA[[
  {
    "key": "6181f76e-6d1a-4fc5-a039-d24acd52ceaf",
    "mediaKey": "808273e1-9080-4bf4-9899-50a0af132808",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service1Image>
    <service1Title>
      <Value><![CDATA[Risk Management]]></Value>
    </service1Title>
    <service2Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service2Description>
    <service2Image>
      <Value><![CDATA[[
  {
    "key": "2a546f1b-475e-4820-b218-bb33b669bf8b",
    "mediaKey": "04a124d6-4b57-4220-8202-1e797393215a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service2Image>
    <service2Title>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </service2Title>
    <service3Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service3Description>
    <service3Image>
      <Value><![CDATA[[
  {
    "key": "8774acae-a70d-4c2f-b9c9-8f6fb9bf5a16",
    "mediaKey": "e154a724-48a2-4f43-9a0e-0bf54df841f5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service3Image>
    <service3Title>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </service3Title>
    <service4Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service4Description>
    <service4Image>
      <Value><![CDATA[[
  {
    "key": "47e07bbd-473d-45b9-a4db-71d2457295df",
    "mediaKey": "3dc5d273-c416-424d-824c-3e51e5ad0294",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service4Image>
    <service4Title>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </service4Title>
    <service5Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service5Description>
    <service5Image>
      <Value><![CDATA[[
  {
    "key": "80504bc2-62e4-4bb5-bf35-9647871589cf",
    "mediaKey": "e9d0cb54-959d-413e-be3a-e4b1eb9cdcba",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service5Image>
    <service5Title>
      <Value><![CDATA[Financial Advisor]]></Value>
    </service5Title>
    <service6Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service6Description>
    <service6Image>
      <Value><![CDATA[[
  {
    "key": "09b6ff6b-3338-4e0f-837e-45412d17e97b",
    "mediaKey": "5d3a30a1-ad31-429c-b0af-9ab8582f09ca",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service6Image>
    <service6Title>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </service6Title>
    <servicesSubtitle>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </servicesSubtitle>
    <servicesTitle>
      <Value><![CDATA[Our Services]]></Value>
    </servicesTitle>
    <statDescription1>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </statDescription1>
    <statDescription2>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </statDescription2>
    <statDescription3>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </statDescription3>
    <statNumber1>
      <Value><![CDATA[689]]></Value>
    </statNumber1>
    <statNumber2>
      <Value><![CDATA[370]]></Value>
    </statNumber2>
    <statNumber3>
      <Value><![CDATA[125]]></Value>
    </statNumber3>
    <storyButton>
      <Value><![CDATA[[
  {
    "name": "Read our Story",
    "target": null,
    "udi": "umb://document/99964bcf07094e7aa31ca19d3e6f23a4",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </storyButton>
    <storyHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </storyHeadline>
    <storyImage>
      <Value><![CDATA[[
  {
    "key": "af342efa-4a28-4c64-9f9d-0b109eeb9a5f",
    "mediaKey": "e522c4fa-e0c0-4f62-981b-e94bcb9942b0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyImage>
    <storyParagraph>
      <Value><![CDATA[4.000+ clients]]></Value>
    </storyParagraph>
    <successImage>
      <Value><![CDATA[[
  {
    "key": "467ead1e-4705-4c94-b569-fad87f4c3b69",
    "mediaKey": "4a33c895-efbf-4a28-ba86-f3915e736275",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successImage>
    <successSubheading>
      <Value><![CDATA[Success story]]></Value>
    </successSubheading>
    <successTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successTitle>
  </Properties>
</Content>