<?xml version="1.0" encoding="utf-8"?>
<Content Key="6458cfe3-704f-4d6a-9d7f-be157d586fef" Alias="Our projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>ourProjects</ContentType>
    <CreateDate>2024-10-04T12:35:40</CreateDate>
    <NodeName Default="Our projects" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0ac00a6a-c172-4628-a242-ccdad4638872">ourProjects</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our projects]]></Value>
    </pageTitle>
    <tags>
      <Value><![CDATA[[
  "Report",
  "Buisness plans",
  "Insights",
  "Business",
  "App",
  "Project",
  "Finance",
  "Pricing"
]]]></Value>
    </tags>
  </Properties>
</Content>