<?xml version="1.0" encoding="utf-8"?>
<Content Key="93f5b4fe-0d1e-405e-b0b9-3ea1ad21bf68" Alias="Project List 4" Level="2">
  <Info>
    <Parent Key="6458cfe3-704f-4d6a-9d7f-be157d586fef">Our projects</Parent>
    <Path>/OurProjects/ProjectList4</Path>
    <Trashed>false</Trashed>
    <ContentType>ourProjectList</ContentType>
    <CreateDate>2024-10-04T12:40:56</CreateDate>
    <NodeName Default="Project List 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <project1Date>
      <Value><![CDATA[January 3, 2024]]></Value>
    </project1Date>
    <project1Image>
      <Value><![CDATA[[
  {
    "key": "eb36a41b-927c-43dc-82ec-32acb02c45a9",
    "mediaKey": "36206018-226f-4b0f-bf05-b54215e01091",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </project1Image>
    <project1Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </project1Text>
    <project1Title>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </project1Title>
    <projectReadbtn>
      <Value><![CDATA[Read more]]></Value>
    </projectReadbtn>
  </Properties>
</Content>