<?xml version="1.0" encoding="utf-8"?>
<Content Key="7130e663-9572-4f59-b105-e41011a2c31f" Alias="Project List 3" Level="2">
  <Info>
    <Parent Key="6458cfe3-704f-4d6a-9d7f-be157d586fef">Our projects</Parent>
    <Path>/OurProjects/ProjectList3</Path>
    <Trashed>false</Trashed>
    <ContentType>ourProjectList</ContentType>
    <CreateDate>2024-10-04T12:40:24</CreateDate>
    <NodeName Default="Project List 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <project1Date>
      <Value><![CDATA[February 6, 2024]]></Value>
    </project1Date>
    <project1Image>
      <Value><![CDATA[[
  {
    "key": "f454a3c3-1f25-4c91-989b-4bccf03a9f1f",
    "mediaKey": "e58ef820-dc28-4071-ab0c-c2943cb24de8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </project1Image>
    <project1Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </project1Text>
    <project1Title>
      <Value><![CDATA[Financial Advisors for Irra Grou..]]></Value>
    </project1Title>
    <projectReadbtn>
      <Value><![CDATA[Read more]]></Value>
    </projectReadbtn>
  </Properties>
</Content>