<?xml version="1.0" encoding="utf-8"?>
<Content Key="b431ad9a-8d11-42a1-b3d0-5882c1264329" Alias="Project List 2" Level="2">
  <Info>
    <Parent Key="6458cfe3-704f-4d6a-9d7f-be157d586fef">Our projects</Parent>
    <Path>/OurProjects/ProjectList2</Path>
    <Trashed>false</Trashed>
    <ContentType>ourProjectList</ContentType>
    <CreateDate>2024-10-04T12:39:45</CreateDate>
    <NodeName Default="Project List 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <project1Date>
      <Value><![CDATA[May 17, 2024]]></Value>
    </project1Date>
    <project1Image>
      <Value><![CDATA[[
  {
    "key": "05bebd48-66a3-4efb-b93d-0ee8e96cb3a9",
    "mediaKey": "7f3a598e-5c20-4cf3-8f2f-cbd8f05120d0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </project1Image>
    <project1Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </project1Text>
    <project1Title>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </project1Title>
    <projectReadbtn>
      <Value><![CDATA[Read more]]></Value>
    </projectReadbtn>
  </Properties>
</Content>