<?xml version="1.0" encoding="utf-8"?>
<Content Key="092c298c-4924-4260-9f72-f36726d1075f" Alias="Project List 1" Level="2">
  <Info>
    <Parent Key="6458cfe3-704f-4d6a-9d7f-be157d586fef">Our projects</Parent>
    <Path>/OurProjects/ProjectList1</Path>
    <Trashed>false</Trashed>
    <ContentType>ourProjectList</ContentType>
    <CreateDate>2024-10-04T12:36:05</CreateDate>
    <NodeName Default="Project List 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <project1Date>
      <Value><![CDATA[June 15, 2024]]></Value>
    </project1Date>
    <project1Image>
      <Value><![CDATA[[
  {
    "key": "9fbd0373-0a17-46cf-a7a5-6d120a314ad1",
    "mediaKey": "78938df2-82eb-4757-b2cf-bbdc1fb87896",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </project1Image>
    <project1Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </project1Text>
    <project1Title>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </project1Title>
    <projectReadbtn>
      <Value><![CDATA[Read more]]></Value>
    </projectReadbtn>
  </Properties>
</Content>