<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a2c4ee7-973a-49bb-b980-0057a24a059f" Alias="Services" Level="2">
  <Info>
    <Parent Key="7d4f599d-1377-439f-a644-ea3f43b68ca3">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-24T13:05:07</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="41d0b2a7-84b3-48a2-8789-4eb29efa1762">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>