<?xml version="1.0" encoding="utf-8"?>
<Content Key="07608a44-8229-4c8c-b08b-848df6e49acc" Alias="SharedService" Level="3">
  <Info>
    <Parent Key="1a2c4ee7-973a-49bb-b980-0057a24a059f">Services</Parent>
    <Path>/Home/Services/SharedService</Path>
    <Trashed>false</Trashed>
    <ContentType>sharedService</ContentType>
    <CreateDate>2024-10-03T15:24:33</CreateDate>
    <NodeName Default="SharedService" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <service1Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </service1Description>
    <service1Image>
      <Value><![CDATA[[
  {
    "key": "7984d896-29e3-48cc-8bf6-586fec09b716",
    "mediaKey": "808273e1-9080-4bf4-9899-50a0af132808",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service1Image>
    <service1Title>
      <Value><![CDATA[Risk Management]]></Value>
    </service1Title>
    <service2Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

]]></Value>
    </service2Description>
    <service2Image>
      <Value><![CDATA[[
  {
    "key": "0894b6eb-29eb-4bfa-80c1-7ef9af05cde6",
    "mediaKey": "04a124d6-4b57-4220-8202-1e797393215a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service2Image>
    <service2Title>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </service2Title>
    <service3Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

]]></Value>
    </service3Description>
    <service3Image>
      <Value><![CDATA[[
  {
    "key": "1b68c1dd-0648-48ce-abeb-b1fca41a5cd6",
    "mediaKey": "e154a724-48a2-4f43-9a0e-0bf54df841f5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service3Image>
    <service3Title>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </service3Title>
    <service4Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

]]></Value>
    </service4Description>
    <service4Image>
      <Value><![CDATA[[
  {
    "key": "422dcdb6-ed89-4a19-9244-f1127d9e88b1",
    "mediaKey": "3dc5d273-c416-424d-824c-3e51e5ad0294",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service4Image>
    <service4Title>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </service4Title>
    <service5Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

]]></Value>
    </service5Description>
    <service5Image>
      <Value><![CDATA[[
  {
    "key": "a0abb7f0-770a-480b-9c21-311ddd248859",
    "mediaKey": "e9d0cb54-959d-413e-be3a-e4b1eb9cdcba",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service5Image>
    <service5Title>
      <Value><![CDATA[Financial Advisor
]]></Value>
    </service5Title>
    <service6Description>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

]]></Value>
    </service6Description>
    <service6Image>
      <Value><![CDATA[[
  {
    "key": "c7c74b5b-4d84-40bc-b0a1-de2228195da3",
    "mediaKey": "5d3a30a1-ad31-429c-b0af-9ab8582f09ca",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </service6Image>
    <service6Title>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </service6Title>
    <servicesSubtitle>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </servicesSubtitle>
    <servicesTitle>
      <Value><![CDATA[Our Services]]></Value>
    </servicesTitle>
  </Properties>
</Content>