<?xml version="1.0" encoding="utf-8"?>
<Content Key="431ccf27-0cfc-4a7d-baea-f026ac4edcd7" Alias="Site settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-18T16:25:47</CreateDate>
    <NodeName Default="Site settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmail>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90. 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhone>
      <Value><![CDATA[+46 8 123 456 78]]></Value>
    </officePhone>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "b158d9ec-212e-438a-bae3-5cc2ec12e0a0",
    "mediaKey": "a18fb8d7-5678-4444-996a-bdcf88ac4978",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>