<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9959ea7-e12b-49ff-a899-25ea628cb911" Alias="Team member 7" Level="2">
  <Info>
    <Parent Key="99964bcf-0709-4e7a-a31c-a19d3e6f23a4">About Us</Parent>
    <Path>/AboutUs/TeamMember7</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMembersBlock</ContentType>
    <CreateDate>2024-10-02T17:06:50</CreateDate>
    <NodeName Default="Team member 7" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <teamImage>
      <Value><![CDATA[[
  {
    "key": "a2812955-ae29-41e9-91d5-6b5b784bd885",
    "mediaKey": "4659f676-a4f2-4bb5-bcac-defa7e71dea3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage>
    <teamNames>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </teamNames>
    <teamPosition>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </teamPosition>
  </Properties>
</Content>