<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea9f837d-5e63-4cb3-aecf-d4f8cead0c17" Alias="Team member 6" Level="2">
  <Info>
    <Parent Key="99964bcf-0709-4e7a-a31c-a19d3e6f23a4">About Us</Parent>
    <Path>/AboutUs/TeamMember6</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMembersBlock</ContentType>
    <CreateDate>2024-10-02T16:52:45</CreateDate>
    <NodeName Default="Team member 6" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <teamImage>
      <Value><![CDATA[[
  {
    "key": "fd6cc6ea-7236-4d2b-a1b9-2b6ee53b7410",
    "mediaKey": "20b7336f-43dc-4322-aa9c-5dc3c630abf5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage>
    <teamNames>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </teamNames>
    <teamPosition>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </teamPosition>
  </Properties>
</Content>