<?xml version="1.0" encoding="utf-8"?>
<Content Key="a775bf17-1832-4621-890f-83c404aa2e39" Alias="Team member 1" Level="2">
  <Info>
    <Parent Key="99964bcf-0709-4e7a-a31c-a19d3e6f23a4">About Us</Parent>
    <Path>/AboutUs/TeamMember1</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMembersBlock</ContentType>
    <CreateDate>2024-10-02T16:49:46</CreateDate>
    <NodeName Default="Team member 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <teamImage>
      <Value><![CDATA[[
  {
    "key": "0bd18a4e-31e5-458f-9504-90b818177854",
    "mediaKey": "d4d369da-c3a4-41ed-97c5-59bc9862271c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage>
    <teamNames>
      <Value><![CDATA[Brandon Newton]]></Value>
    </teamNames>
    <teamPosition>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamPosition>
  </Properties>
</Content>