<?xml version="1.0" encoding="utf-8"?>
<Content Key="33b7a0cd-06b7-44b2-809c-88a178b74b53" Alias="Team member 2" Level="2">
  <Info>
    <Parent Key="99964bcf-0709-4e7a-a31c-a19d3e6f23a4">About Us</Parent>
    <Path>/AboutUs/TeamMember2</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMembersBlock</ContentType>
    <CreateDate>2024-10-02T16:50:29</CreateDate>
    <NodeName Default="Team member 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <teamImage>
      <Value><![CDATA[[
  {
    "key": "de5785be-9613-47b7-b31e-ec33b8492480",
    "mediaKey": "14f0d631-3d56-4254-a54b-e0b3581da058",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage>
    <teamNames>
      <Value><![CDATA[AJ Carter]]></Value>
    </teamNames>
    <teamPosition>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamPosition>
  </Properties>
</Content>