<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e6c059b-063e-44c3-ac6f-8884a7f87bf0" Alias="Team member 3" Level="2">
  <Info>
    <Parent Key="99964bcf-0709-4e7a-a31c-a19d3e6f23a4">About Us</Parent>
    <Path>/AboutUs/TeamMember3</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMembersBlock</ContentType>
    <CreateDate>2024-10-02T16:51:21</CreateDate>
    <NodeName Default="Team member 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <teamImage>
      <Value><![CDATA[[
  {
    "key": "a5f031e1-74a7-4acf-bc1a-89adebc8eafb",
    "mediaKey": "43412cd3-e571-4da2-a781-016fabca9c08",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage>
    <teamNames>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </teamNames>
    <teamPosition>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </teamPosition>
  </Properties>
</Content>