<?xml version="1.0" encoding="utf-8"?>
<Content Key="52699ce2-aa3f-40af-8e7a-ecb64115d948" Alias="Team member 5" Level="2">
  <Info>
    <Parent Key="99964bcf-0709-4e7a-a31c-a19d3e6f23a4">About Us</Parent>
    <Path>/AboutUs/TeamMember5</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMembersBlock</ContentType>
    <CreateDate>2024-10-02T16:52:09</CreateDate>
    <NodeName Default="Team member 5" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <teamImage>
      <Value><![CDATA[[
  {
    "key": "955a4fd4-ed1f-4dd1-82c8-7eef7816d0be",
    "mediaKey": "0c02fd46-969b-4418-b78d-89aa5fccc568",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage>
    <teamNames>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </teamNames>
    <teamPosition>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </teamPosition>
  </Properties>
</Content>