<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5c98604-ea51-40a8-b7a4-06ce41fb4189" Alias="Team member 4" Level="2">
  <Info>
    <Parent Key="99964bcf-0709-4e7a-a31c-a19d3e6f23a4">About Us</Parent>
    <Path>/AboutUs/TeamMember4</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMembersBlock</ContentType>
    <CreateDate>2024-10-02T16:51:46</CreateDate>
    <NodeName Default="Team member 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <teamImage>
      <Value><![CDATA[[
  {
    "key": "ab598d7f-3bd4-4395-b373-55192cd4da0f",
    "mediaKey": "776c0281-ded3-4648-91be-9741f88e6b5b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage>
    <teamNames>
      <Value><![CDATA[Tina Fox]]></Value>
    </teamNames>
    <teamPosition>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </teamPosition>
  </Properties>
</Content>