@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var backgroundImage = Model?.Value<IPublishedContent>("heroBackgroundImage")?.Url() ?? "";
    var signatureImage = Model?.Value<IPublishedContent>("aboutSignatureImage")?.Url() ?? "";
}

<section id="hero-section">
    <div class="hero-bg">
        <img src="@backgroundImage" alt="Hero Image">
    </div>
    <div class="content">
        <div class="container">
            <div class="text">
                <h1>@Model?.Value("heroHeadline")</h1>
                <p>@Model?.Value("heroText")</p>
                <a href="@Model?.Value("heroButtonUrl")" class="btn-primary">@Model?.Value("heroButtonText")</a>
            </div>
        </div>
    </div>
</section>

<section id="about-section" class="bg-light">
    <div class="content">
        <div class="container">
            <div class="about-text">
                <h6>@Model?.Value("aboutSectionTitle")</h6>
                <h1>@Model?.Value("aboutHeadline")</h1>

                <blockquote>@Model?.Value("aboutQuote")</blockquote>

                <p>@Model?.Value("aboutText")</p>

                <div class="signature">
                    <img src="@signatureImage" alt="@Model?.Value("aboutSignatureImage")">
                    <div class="nametag-container">
                        <p class="nametag-title">@Model?.Value("aboutSignatureText")</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="callback-box">
            <h2 class="blackbox bg-primary">Request a call back</h2>
            <div class="callback-form">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, mollitia.</p>
                <form action="#" method="post">
                    <input type="text" id="name" name="name" placeholder="Name" required>
                    <input type="email" id="email" name="email" placeholder="Email address" required>
                    <input type="tel" id="phone" name="phone" placeholder="Phone" required>
                    <select id="service" name="service">
                        <option value="consulting">Financial consulting</option>
                        <option value="tax-planning">Tax planning</option>
                        <option value="investment">Investment strategy</option>
                    </select>
                    <button type="submit" class="submitform btn-accent">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

