<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4fc4f8dd-4915-46f2-b99e-dc2706e12dea" Alias="sharedService" Level="1">
  <Info>
    <Name>SharedService</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>58bdfcba-5feb-47eb-ad18-a7fbde47e7ae</Key>
      <Name>service1Description</Name>
      <Alias>service1Description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description for the first service.
]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>959e59ae-5439-493c-867c-b3bdbb7064a2</Key>
      <Name>service1Image</Name>
      <Alias>service1Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for the first service ("Risk Management").
]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6dc20517-6839-40ab-b503-9562c5aed09b</Key>
      <Name>service1Title</Name>
      <Alias>service1Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for the first service.
]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b532cad7-3692-4aca-85d1-13d9fcfcc42b</Key>
      <Name>service2Description</Name>
      <Alias>service2Description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description for the second service.
]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2034c8fc-fe6d-4ae7-a5e7-15e27892237f</Key>
      <Name>service2Image</Name>
      <Alias>service2Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for the second service ("Bonds & Commodities").
]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afc4d572-1563-4e43-9465-c6352f3fb6ec</Key>
      <Name>service2Title</Name>
      <Alias>service2Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for the second service.
]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b601e277-645a-45b5-a964-991acd10e2fc</Key>
      <Name>service3Description</Name>
      <Alias>service3Description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description for the third service.
]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cee9e3be-3fa9-4a20-97ae-a1665a0670b3</Key>
      <Name>service3Image</Name>
      <Alias>service3Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for the third service ("Assurance & Audits").
]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa6840e5-db8f-429d-89b5-d98a574ad869</Key>
      <Name>service3Title</Name>
      <Alias>service3Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for the third service.
]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>74b3490f-a0fd-468b-af03-c210fd58c413</Key>
      <Name>service4Description</Name>
      <Alias>service4Description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description for the fourth service.
]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4980ad8d-44c5-461b-8f7d-5fe06fa3ad4f</Key>
      <Name>service4Image</Name>
      <Alias>service4Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for the fourth service ("Tax and Trusts").
]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5049d32a-fb5d-43f0-99d7-e6fc9c4200a3</Key>
      <Name>service4Title</Name>
      <Alias>service4Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for the fourth service.
]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a75229d0-2930-48ac-84a8-90ce937f75f1</Key>
      <Name>service5Description</Name>
      <Alias>service5Description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description for the fifth service.
]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0b86bb7-5247-40f8-bae7-3c59ebb34f98</Key>
      <Name>service5Image</Name>
      <Alias>service5Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for the fifth service ("Financial Advisor").
]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>274e1367-7097-4b78-ab4d-87ae55050a1e</Key>
      <Name>service5Title</Name>
      <Alias>service5Title</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for the fifth service.
]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>377c91ea-5de0-488a-84f2-725d1b587252</Key>
      <Name>service6Description</Name>
      <Alias>service6Description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description for the sixth service.
]]></Description>
      <SortOrder>19</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9dded5a8-f030-48c4-8246-a7cdbda4459f</Key>
      <Name>service6Image</Name>
      <Alias>service6Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for the sixth service ("Statistic Advisors").
]]></Description>
      <SortOrder>17</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a161909-ab30-4d4a-b9fe-7e21179488d2</Key>
      <Name>service6Title</Name>
      <Alias>service6Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for the sixth service.
]]></Description>
      <SortOrder>18</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>958f1294-f230-407c-a2b3-dd8cadcaaf20</Key>
      <Name>servicesSubtitle</Name>
      <Alias>servicesSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subtitle for the services section ("We Provide The Solutions...").
]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f35307f6-1f39-4ad9-99a5-2638fa7b65e8</Key>
      <Name>servicesTitle</Name>
      <Alias>servicesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main title for the services section ("Our Services").
]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="shared/sharedService">SharedService</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>63f30468-9e3b-4ae3-9448-36c26afae28a</Key>
      <Caption>SharedService</Caption>
      <Alias>shared/sharedService</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6492e81f-72a9-4336-8e58-ff16a0a40d98</Key>
      <Caption>Shared</Caption>
      <Alias>shared</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>