<?xml version="1.0" encoding="utf-8"?>
<Media Key="28bd6f6e-f253-4f8c-84f5-7026a0f595c0" Alias="AboutUs-Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-02T14:16:56</CreateDate>
    <NodeName Default="AboutUs-Page" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>