<?xml version="1.0" encoding="utf-8"?>
<Media Key="58a842f5-cff8-47a1-b570-fd972aa33043" Alias="about-section" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-18T13:29:33</CreateDate>
    <NodeName Default="about-section" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>