<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4d369da-c3a4-41ed-97c5-59bc9862271c" Alias="brandon 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandon1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T16:49:30</CreateDate>
    <NodeName Default="brandon 1.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kwrjkywn/brandon-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>