<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c301c44-537a-43c6-afd8-8d5cf6e8ee9e" Alias="buccura" Level="2">
  <Info>
    <Parent Key="e98f458a-08e4-48ac-8498-b496c6281f92">projects</Parent>
    <Path>/projects/buccura</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:55:41</CreateDate>
    <NodeName Default="buccura" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zplhnsqt/buccura.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>