<?xml version="1.0" encoding="utf-8"?>
<Media Key="42a38310-6a79-4634-a8c6-f3c757d269dc" Alias="ceosignature.svg (1)" Level="2">
  <Info>
    <Parent Key="58a842f5-cff8-47a1-b570-fd972aa33043">about-section</Parent>
    <Path>/aboutSection/ceosignaturesvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:32:23</CreateDate>
    <NodeName Default="ceosignature.svg (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2i5adidc/ceosignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>