<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba94d9b4-c6f8-4879-a5bd-a1a7b79f2c97" Alias="contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T15:54:42</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>