<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a5eef28-87c1-4347-ad0a-46306c8e1b7b" Alias="details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/details</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T14:18:05</CreateDate>
    <NodeName Default="details" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>