<?xml version="1.0" encoding="utf-8"?>
<Media Key="005cbf47-329b-4762-a168-f1c915bc3af8" Alias="financial 1.png" Level="2">
  <Info>
    <Parent Key="02cad9af-3361-404b-899a-e0cfcee65c0b">Risk Management</Parent>
    <Path>/RiskManagement/financial1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T20:03:36</CreateDate>
    <NodeName Default="financial 1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zb0bvnxs/financial-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>