<?xml version="1.0" encoding="utf-8"?>
<Media Key="88523daf-b433-4b7e-9ba8-9c74aac3ef74" Alias="Footer Template.svg" Level="2">
  <Info>
    <Parent Key="28bd6f6e-f253-4f8c-84f5-7026a0f595c0">AboutUs-Page</Parent>
    <Path>/AboutUsPage/FooterTemplatesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T13:00:22</CreateDate>
    <NodeName Default="Footer Template.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwapa0ri/footer-template.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>