<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe93700b-9ac6-47d6-8433-98352b81bf78" Alias="fossilgroup.svg" Level="2">
  <Info>
    <Parent Key="0706377e-cc5b-41ac-be85-7a5b1927bbdf">partner logo</Parent>
    <Path>/partnerLogo/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T15:23:54</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5hgdchg3/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>