<?xml version="1.0" encoding="utf-8"?>
<Media Key="29fa9a74-993a-42ad-bd2c-1ae9e82a02d6" Alias="freedombirdlogo.svg" Level="2">
  <Info>
    <Parent Key="0706377e-cc5b-41ac-be85-7a5b1927bbdf">partner logo</Parent>
    <Path>/partnerLogo/freedombirdlogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T15:23:54</CreateDate>
    <NodeName Default="freedombirdlogo.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qytfrszb/freedombirdlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>