<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2e8dc11-3827-481e-9926-6216a6efdfdc" Alias="globelogo.svg" Level="2">
  <Info>
    <Parent Key="0706377e-cc5b-41ac-be85-7a5b1927bbdf">partner logo</Parent>
    <Path>/partnerLogo/globelogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T15:23:54</CreateDate>
    <NodeName Default="globelogo.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2nqfuub2/globelogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>