<?xml version="1.0" encoding="utf-8"?>
<Media Key="70ac0e79-dac1-4070-ac0d-624a7d9b5077" Alias="hero.png" Level="2">
  <Info>
    <Parent Key="02cad9af-3361-404b-899a-e0cfcee65c0b">Risk Management</Parent>
    <Path>/RiskManagement/heropng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T20:03:32</CreateDate>
    <NodeName Default="hero.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/41covrvi/hero.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>