<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef68ebd5-0cae-443f-896b-64b3842ed6f1" Alias="HeroImg" Level="2">
  <Info>
    <Parent Key="2fc3eafa-227c-472a-9c8a-46c95360bf02">Hero Slider</Parent>
    <Path>/HeroSlider/HeroImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T13:42:22</CreateDate>
    <NodeName Default="HeroImg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/liqd2woh/heroimg.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>