<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6cc729b-28f4-4d23-8867-200a11e9c49c" Alias="Img-47 1.png" Level="2">
  <Info>
    <Parent Key="1a5eef28-87c1-4347-ad0a-46306c8e1b7b">details</Parent>
    <Path>/details/Img471png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T14:19:42</CreateDate>
    <NodeName Default="Img-47 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cs2iuee3/img-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>