<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdd7c8d6-46af-4de8-bebb-f5cb3d680a67" Alias="irra" Level="2">
  <Info>
    <Parent Key="e98f458a-08e4-48ac-8498-b496c6281f92">projects</Parent>
    <Path>/projects/irra</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:59:23</CreateDate>
    <NodeName Default="irra" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lebjcs4g/irracorp.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>