<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8d84853-db15-4714-af1b-335ac6cb8cbf" Alias="juva" Level="2">
  <Info>
    <Parent Key="e98f458a-08e4-48ac-8498-b496c6281f92">projects</Parent>
    <Path>/projects/juva</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:59:33</CreateDate>
    <NodeName Default="juva" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1sbj2dt2/juva.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>