<?xml version="1.0" encoding="utf-8"?>
<Media Key="4659f676-a4f2-4bb5-bcac-defa7e71dea3" Alias="Kevin-Gardner 1@2x.png" Level="2">
  <Info>
    <Parent Key="28bd6f6e-f253-4f8c-84f5-7026a0f595c0">AboutUs-Page</Parent>
    <Path>/AboutUsPage/KevinGardner12xpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T16:50:12</CreateDate>
    <NodeName Default="Kevin-Gardner 1@2x.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5e4b52e1/kevin-gardner-1-2x.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>