<?xml version="1.0" encoding="utf-8"?>
<Media Key="d52c8546-e601-44fe-9b69-3ec7d2587e52" Alias="kevin-gardner.png (1)" Level="2">
  <Info>
    <Parent Key="28bd6f6e-f253-4f8c-84f5-7026a0f595c0">AboutUs-Page</Parent>
    <Path>/AboutUsPage/kevinGardnerpng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T16:50:12</CreateDate>
    <NodeName Default="kevin-gardner.png (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zfhhuy1i/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>