<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c782ff8-1af8-4c2a-a64f-bb76d8a2c055" Alias="map 1.png" Level="2">
  <Info>
    <Parent Key="ba94d9b4-c6f8-4879-a5bd-a1a7b79f2c97">contact</Parent>
    <Path>/contact/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T15:54:49</CreateDate>
    <NodeName Default="map 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o5sd3cur/map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>