<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6f08be2-676f-474c-b315-db96acd464e8" Alias="Miscellaneous" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Miscellaneous</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T13:10:37</CreateDate>
    <NodeName Default="Miscellaneous" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>