<?xml version="1.0" encoding="utf-8"?>
<Media Key="01279aa8-69cd-4b98-9a48-7bb8af95c59c" Alias="naturallogo.svg" Level="2">
  <Info>
    <Parent Key="0706377e-cc5b-41ac-be85-7a5b1927bbdf">partner logo</Parent>
    <Path>/partnerLogo/naturallogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T15:24:40</CreateDate>
    <NodeName Default="naturallogo.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/litjly4w/naturallogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>