<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b50bcb1-50bb-4377-9abd-5eafbfc8f7cc" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="28bd6f6e-f253-4f8c-84f5-7026a0f595c0">AboutUs-Page</Parent>
    <Path>/AboutUsPage/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-02T15:51:43</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>