<?xml version="1.0" encoding="utf-8"?>
<Media Key="58fb0ca4-3cbe-49b5-a8cc-27ff3354534f" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="24fb661d-694c-4e17-865e-e4af58397cb4">services</Parent>
    <Path>/services/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T13:13:27</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>