<?xml version="1.0" encoding="utf-8"?>
<Media Key="a18fb8d7-5678-4444-996a-bdcf88ac4978" Alias="onatrixLogo" Level="2">
  <Info>
    <Parent Key="d6f08be2-676f-474c-b315-db96acd464e8">Miscellaneous</Parent>
    <Path>/Miscellaneous/onatrixLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T16:12:51</CreateDate>
    <NodeName Default="onatrixLogo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lbzmsfyr/onatrixlogo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>