<?xml version="1.0" encoding="utf-8"?>
<Media Key="46df39a4-df99-4827-8323-524f8c6b182b" Alias="Our projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T12:37:15</CreateDate>
    <NodeName Default="Our projects" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>