<?xml version="1.0" encoding="utf-8"?>
<Media Key="0706377e-cc5b-41ac-be85-7a5b1927bbdf" Alias="partner logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partnerLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:23:25</CreateDate>
    <NodeName Default="partner logo" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>