<?xml version="1.0" encoding="utf-8"?>
<Media Key="78938df2-82eb-4757-b2cf-bbdc1fb87896" Alias="pj1.png" Level="2">
  <Info>
    <Parent Key="46df39a4-df99-4827-8323-524f8c6b182b">Our projects</Parent>
    <Path>/OurProjects/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T12:37:22</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pvdnltuc/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>