<?xml version="1.0" encoding="utf-8"?>
<Media Key="d82cef30-af98-4a5f-a3a0-071237a235ba" Alias="pj2.png" Level="2">
  <Info>
    <Parent Key="1a5eef28-87c1-4347-ad0a-46306c8e1b7b">details</Parent>
    <Path>/details/pj2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T14:18:12</CreateDate>
    <NodeName Default="pj2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x2shu1xr/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>