<?xml version="1.0" encoding="utf-8"?>
<Media Key="e58ef820-dc28-4071-ab0c-c2943cb24de8" Alias="pj3.png" Level="2">
  <Info>
    <Parent Key="46df39a4-df99-4827-8323-524f8c6b182b">Our projects</Parent>
    <Path>/OurProjects/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T12:37:22</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v2zmqu0b/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>