<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ad7cb47-c981-482e-8f86-f08390735954" Alias="pj3.png" Level="2">
  <Info>
    <Parent Key="1a5eef28-87c1-4347-ad0a-46306c8e1b7b">details</Parent>
    <Path>/details/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T14:18:12</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zaajdthi/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>