<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f92dba6-b25b-4821-88b3-368f2fbd5ab3" Alias="pj4 1.png" Level="2">
  <Info>
    <Parent Key="1a5eef28-87c1-4347-ad0a-46306c8e1b7b">details</Parent>
    <Path>/details/pj41png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T14:19:42</CreateDate>
    <NodeName Default="pj4 1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/feinjwjs/pj4-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>