<?xml version="1.0" encoding="utf-8"?>
<Media Key="e98f458a-08e4-48ac-8498-b496c6281f92" Alias="projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-01T12:54:57</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>