<?xml version="1.0" encoding="utf-8"?>
<Media Key="040b6551-150a-41e9-8552-f82b5a3370fc" Alias="RiskImg.png" Level="2">
  <Info>
    <Parent Key="02cad9af-3361-404b-899a-e0cfcee65c0b">Risk Management</Parent>
    <Path>/RiskManagement/RiskImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T19:45:12</CreateDate>
    <NodeName Default="RiskImg.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/10xf1mtd/riskimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>