<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dc5d273-c416-424d-824c-3e51e5ad0294" Alias="service4.svg" Level="2">
  <Info>
    <Parent Key="24fb661d-694c-4e17-865e-e4af58397cb4">services</Parent>
    <Path>/services/service4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T13:14:02</CreateDate>
    <NodeName Default="service4.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qfxhpxyn/service4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>