<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9d0cb54-959d-413e-be3a-e4b1eb9cdcba" Alias="service5.svg" Level="2">
  <Info>
    <Parent Key="24fb661d-694c-4e17-865e-e4af58397cb4">services</Parent>
    <Path>/services/service5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T13:14:02</CreateDate>
    <NodeName Default="service5.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uz1hec2g/service5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>