<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d3a30a1-ad31-429c-b0af-9ab8582f09ca" Alias="service6.svg" Level="2">
  <Info>
    <Parent Key="24fb661d-694c-4e17-865e-e4af58397cb4">services</Parent>
    <Path>/services/service6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T13:14:02</CreateDate>
    <NodeName Default="service6.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kogjrpzk/service6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>