<?xml version="1.0" encoding="utf-8"?>
<Media Key="04a124d6-4b57-4220-8202-1e797393215a" Alias="service2.svg" Level="2">
  <Info>
    <Parent Key="24fb661d-694c-4e17-865e-e4af58397cb4">services</Parent>
    <Path>/services/service2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T13:14:02</CreateDate>
    <NodeName Default="service2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/esmbhzsm/service2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>