<?xml version="1.0" encoding="utf-8"?>
<Media Key="808273e1-9080-4bf4-9899-50a0af132808" Alias="service1.svg" Level="2">
  <Info>
    <Parent Key="24fb661d-694c-4e17-865e-e4af58397cb4">services</Parent>
    <Path>/services/service1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T13:14:02</CreateDate>
    <NodeName Default="service1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cphcayu1/service1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>