<?xml version="1.0" encoding="utf-8"?>
<Media Key="a138088e-b6a3-4f52-8708-b313086872c9" Alias="spgroup.svg" Level="2">
  <Info>
    <Parent Key="0706377e-cc5b-41ac-be85-7a5b1927bbdf">partner logo</Parent>
    <Path>/partnerLogo/spgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T15:24:08</CreateDate>
    <NodeName Default="spgroup.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ps0juq3y/spgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>