<?xml version="1.0" encoding="utf-8"?>
<Media Key="05dbe7e1-1d2e-41cc-893c-95cf20099839" Alias="spgroup" Level="2">
  <Info>
    <Parent Key="e98f458a-08e4-48ac-8498-b496c6281f92">projects</Parent>
    <Path>/projects/spgroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:59:45</CreateDate>
    <NodeName Default="spgroup" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nywj1m0h/spgroup.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>