<?xml version="1.0" encoding="utf-8"?>
<Media Key="168961d8-5b10-4154-9325-f1dea83f65c7" Alias="story section" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/storySection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T15:07:13</CreateDate>
    <NodeName Default="story section" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>