<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaf0521c-a71b-40ab-b79d-7bd93af756ae" Alias="TinaFoxCEO.png (2)" Level="2">
  <Info>
    <Parent Key="28bd6f6e-f253-4f8c-84f5-7026a0f595c0">AboutUs-Page</Parent>
    <Path>/AboutUsPage/TinaFoxCEOpng2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T16:50:12</CreateDate>
    <NodeName Default="TinaFoxCEO.png (2)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/somlmxds/tinafoxceo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>