<?xml version="1.0" encoding="utf-8"?>
<Media Key="776c0281-ded3-4648-91be-9741f88e6b5b" Alias="tina4.png" Level="2">
  <Info>
    <Parent Key="28bd6f6e-f253-4f8c-84f5-7026a0f595c0">AboutUs-Page</Parent>
    <Path>/AboutUsPage/tina4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T16:50:12</CreateDate>
    <NodeName Default="tina4.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b1ecvqn0/tina4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>