<?xml version="1.0" encoding="utf-8"?>
<Media Key="e522c4fa-e0c0-4f62-981b-e94bcb9942b0" Alias="trustedimg.svg" Level="2">
  <Info>
    <Parent Key="168961d8-5b10-4154-9325-f1dea83f65c7">story section</Parent>
    <Path>/storySection/trustedimgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T15:07:27</CreateDate>
    <NodeName Default="trustedimg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bb2jab41/trustedimg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>