<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dfb24ef-136a-407a-a335-6daf54bdfd04" Alias="udentitylogo.svg" Level="2">
  <Info>
    <Parent Key="0706377e-cc5b-41ac-be85-7a5b1927bbdf">partner logo</Parent>
    <Path>/partnerLogo/udentitylogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T15:24:11</CreateDate>
    <NodeName Default="udentitylogo.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dwmfs11r/udentitylogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>