<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45679ee4-8411-4a5a-ac8c-a851bf95ef65" Alias="Home Page - projectlist3 - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - projectlist3 - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0"
    }
  ]
}]]></Config>
</DataType>