<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ff98235-0b56-4198-b521-089c2585f5fd" Alias="Home Page - pro - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - pro - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0",
      "label": "project list"
    }
  ]
}]]></Config>
</DataType>