<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c686853c-3cc0-4a60-8f26-ff82a7823468" Alias="Home Page - projectlist - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - projectlist - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0",
      "label": "Project Section"
    }
  ]
}]]></Config>
</DataType>