<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6d6f472-7927-4a9a-bf25-a9c0d4960ba0" Alias="Home Page - projectlist2 - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - projectlist2 - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0"
    }
  ]
}]]></Config>
</DataType>