<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d20fce2-709a-4b52-8cd7-5192ffe278d6" Alias="Page Title" Level="1">
  <Info>
    <Name>Page Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>