<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d6bc17c-4a92-453e-bf5a-977fbd9982ae" Alias="Projects List" Level="1">
  <Info>
    <Name>Projects List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1bde9ede-d0bc-4444-9a74-53bb6d0225e0"
    }
  ]
}]]></Config>
</DataType>