<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ac084f2-e02e-43d9-9743-6fc3990d45c7" Alias="Risk Management -  - Email Property Editor UI" Level="1">
  <Info>
    <Name>Risk Management -  - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>